#top_text {
    font-size: 80%;
    background: #FFFFCC;
    color: black;
    border-width: 0;
    width: 100%;
}

#header {
    text-align: center;
}

#footer {
    text-align: center;
}

.border_top {
    border-top: 0.25em solid rgb(150, 150, 150);
}

.yellow_bg {
    background: #FFFFCC;
}